@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&family=Playfair+Display:wght@400;500;700&display=swap");
* {
	padding: 0px;
	margin: 0px;
	border: 0px;
}

*,
*:before,
*:after {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

:focus,
:active {
	outline: none;
}

a:focus,
a:active {
	outline: none;
}

aside,
nav,
footer,
header,
section {
	display: block;
}

html,
body {
	height: 100%;
	min-width: 320px;
}

body {
	line-height: 1;
	font-family: "Playfair Display";
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
	font-family: "Playfair Display";
}

input::-ms-clear {
	display: none;
}

button {
	cursor: pointer;
}

button::-moz-focus-inner {
	padding: 0;
	border: 0;
}

a,
a:visited {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

ul li {
	list-style: none;
}

img {
	vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}

body {
	color: #000;
	font-size: 14px;
}
body.lock {
	overflow: hidden;
}

.wrapper {
	width: 100%;
	min-height: 100%;
	overflow: hidden;
}
.container {
	max-width: 1170px;
	margin: 0 auto;
	width: 100%;
}
@media (max-width: 1182px) {
	.container {
		max-width: 970px;
	}
}
@media (max-width: 991.98px) {
	.container {
		max-width: 750px;
	}
}
@media (max-width: 767.98px) {
	.container {
		max-width: none;
		padding: 0 10px;
	}
}

.form-row {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	margin: 0px -15px;
}

.form__column {
	padding: 0px 15px;
}

.btn {
	display: inline-block;
	height: 50px;
	padding: 0px 21px;
	background-color: transparent;
	border: 2px solid #40AD9F;
	position: relative;
	font-size: 16px;
	line-height: 20px;
	color: #40AD9F;
	font-weight: 500;
}
@media (min-width: 1182px) {
	.btn:hover {
		-webkit-transition: all 0.3s ease 0s;
		-o-transition: all 0.3s ease 0s;
		transition: all 0.3s ease 0s;
		color: #fff;
		background: #40AD9F;
	}
}

input[type=text], input[type=email], input[type=tel], textarea {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

.input {
	background-color: #ffffff99;
	height: 60px;
	width: 100%;
	display: block;
	padding: 0px 20px;
}
textarea.input {
	resize: none;
	padding: 0px 0px;
}

.table {
	display: table;
	font-size: 0;
	width: 100%;
}

.trow {
	display: table-row;
}

.cell {
	display: table-cell;
}
.cell.full {
	width: 100%;
}

.slick-slider {
	position: relative;
}
.slick-slider .slick-track,
.slick-slider .slick-list {
	-webkit-transform: translate3d(0, 0, 0);
	-ms-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}
.slick-slider .slick-list {
	position: relative;
	overflow: hidden;
	width: 100%;
}
.slick-slider .slick-track {
	position: relative;
	width: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}
.slick-slider .slick-slide {
	position: relative;
}
.header {
	position: fixed;
	width: 100%;
	z-index: 50;
	left: 0;
	top: 0px;
	background-color: #fff;
	padding: 10px 0 0px 0;
}
@media (max-width: 991.98px) {
	.header {
		padding: 0;
	}
}
@media (max-width: 991.98px) {
	.header__logo {
		padding-left: 7px;
	}
}
.header__row {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	font-size: 18px;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	height: 110px;
}
@media (max-width: 991.98px) {
	.header__button {
		display: none;
	}
}
.header__button-mob {
	display: none;
}
@media (max-width: 991.98px) {
	.header__button-mob {
		display: block;
	}
}

@media (max-width: 991.98px) {
	.header {
		top: 0;
	}
}
.menu__list {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}
@media (max-width: 991.98px) {
	.menu__list {
		padding-top: 60px;
	}
}
.menu__list li {
	color: black;
	margin-right: 50px;
	font-family: "Montserrat";
	font-weight: 500;
	font-size: 18px;
}
@media (max-width: 1182px) {
	.menu__list li {
		font-size: 16px;
		margin-right: 30px;
	}
}
@media (max-width: 991.98px) {
	.menu__list li {
		margin-right: 0;
		padding: 10px 0;
	}
}
.menu__list li a {
	color: #000;
	position: relative;
}
.menu__list li a:before {
	content: "";
	position: absolute;
	width: 100%;
	height: 3px;
	bottom: -9px;
	left: 0;
	background-color: #40AD9F;
	visibility: hidden;
	-webkit-transform: scaleX(0);
	-ms-transform: scaleX(0);
	transform: scaleX(0);
	-webkit-transition: all 0.3s ease-in-out 0s;
	-o-transition: all 0.3s ease-in-out 0s;
	transition: all 0.3s ease-in-out 0s;
}
@media (min-width: 1182px) {
	.menu__list li a:hover:before {
		visibility: visible;
		-webkit-transform: scaleX(1);
		-ms-transform: scaleX(1);
		transform: scaleX(1);
	}
}
@media (max-width: 991.98px) {
	.menu__body {
		position: fixed;
		top: -100%;
		left: 0;
		width: 100%;
		height: 100%;
		overflow: auto;
		-webkit-transition: all 0.4s ease 0s;
		-o-transition: all 0.4s ease 0s;
		transition: all 0.4s ease 0s;
		background: #d1dede;
		display: block;
		padding-top: 20px;
		z-index: 2;
	}
}

.menu__body.active {
	top: 0;
}

.menu__icon {
	top: 0;
}

@media (max-width: 991.98px) {
	.menu__list {
		display: block;
		text-align: center;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
	}
}
@media (max-width: 991.98px) {
	.icon-menu {
		display: block;
		position: absolute;
		top: 46px;
		right: 60px;
		width: 30px;
		height: 18px;
		cursor: pointer;
		z-index: 5;
	}
	.icon-menu span {
		-webkit-transition: all 0.3s ease 0s;
		-o-transition: all 0.3s ease 0s;
		transition: all 0.3s ease 0s;
		top: 8px;
		left: 0px;
		position: absolute;
		width: 100%;
		height: 2px;
		background-color: #40AD9F;
	}
	.icon-menu span:first-child {
		top: 0px;
	}
	.icon-menu span:last-child {
		top: auto;
		bottom: 0px;
	}
	.icon-menu.active span {
		-ms-transform: scale(0);
		-webkit-transform: scale(0);
		transform: scale(0);
	}
	.icon-menu.active span:first-child {
		-ms-transform: rotate(-45deg);
		-webkit-transform: rotate(-45deg);
		transform: rotate(-45deg);
		top: 8px;
	}
	.icon-menu.active span:last-child {
		-ms-transform: rotate(45deg);
		-webkit-transform: rotate(45deg);
		transform: rotate(45deg);
		bottom: 8px;
	}
}
.footer {
	background: #333333;
	padding-top: 60px;
}
.footer__row {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	margin: 0 -10px;
}
@media (max-width: 991.98px) {
	.footer__row {
		-ms-flex-wrap: wrap;
		    flex-wrap: wrap;
	}
}
.footer__column {
	padding: 0 10px;
	-webkit-box-flex: 0;
	    -ms-flex: 0 1 25%;
	        flex: 0 1 25%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
}
@media (max-width: 991.98px) {
	.footer__column {
		-webkit-box-flex: 0;
		    -ms-flex: 0 1 33.333%;
		        flex: 0 1 33.333%;
		margin-bottom: 25px;
	}
}
@media (max-width: 767.98px) {
	.footer__column {
		-webkit-box-flex: 0;
		    -ms-flex: 0 1 100%;
		        flex: 0 1 100%;
	}
}
.footer__column a {
	color: #fff;
}
.footer__item {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}
@media (max-width: 767.98px) {
	.footer__item {
		-webkit-box-align: center;
		    -ms-flex-align: center;
		        align-items: center;
	}
}
.footer__logo {
	padding-right: 15px;
}
@media (max-width: 479.98px) {
	.footer__logo {
		padding-right: 5px;
	}
}
.footer__desc {
	font-family: "Montserrat";
	font-weight: 500;
	font-size: 18px;
	line-height: 22px;
	color: #FFFFFF;
}
@media (max-width: 767.98px) {
	.footer__desc {
		max-width: 160px;
	}
}
@media (max-width: 479.98px) {
	.footer__desc {
		font-size: 14px;
	}
}
.footer__suptext {
	font-family: "Montserrat";
	font-style: normal;
	font-weight: 500;
	font-size: 18px;
	line-height: 22px;
	color: #FFFFFF;
	margin-bottom: 15px;
}
.footer__social {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}
.footer__social li {
	padding-right: 5px;
}
@media (max-width: 767.98px) {
	.footer__social {
		-webkit-box-pack: center;
		    -ms-flex-pack: center;
		        justify-content: center;
	}
}
.footer__tel {
	background: url("../img/phone.svg") no-repeat;
	padding-left: 40px;
}
.footer__mail {
	background: url("../img/mail.svg") no-repeat;
	padding-left: 40px;
}
.footer__info {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	font-family: "Montserrat";
	font-weight: 500;
	font-size: 18px;
	line-height: 22px;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
}
.footer__info a:first-child {
	margin-bottom: 25px;
}
@media (max-width: 1182px) {
	.footer__button button {
		font-size: 14px;
		padding: 0px 16px;
	}
}

.main {
	padding-top: 130px;
}
@media (max-width: 991.98px) {
	.main {
		padding-top: 100px;
	}
}
.main__content {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: end;
	    -ms-flex-pack: end;
	        justify-content: end;
	position: relative;
}
.main__img img {
	-o-object-fit: cover;
	   object-fit: cover;
	max-width: 100%;
}
.main__item {
	position: absolute;
	bottom: 0;
	left: 13.5%;
	background: rgba(255, 255, 255, 0.75);
	padding: 105px 100px 105px 100px;
}
@media (max-width: 1600px) {
	.main__item {
		left: 7%;
	}
}
@media (max-width: 1350px) {
	.main__item {
		left: 0%;
	}
}
@media (max-width: 767.98px) {
	.main__item {
		width: 100%;
		padding: 105px 50px 105px 50px;
	}
}
@media (max-width: 479.98px) {
	.main__item {
		padding: 80px 50px 80px 50px;
	}
}
.main__item-content {
	position: relative;
}
.main__item-content:before {
	content: "";
	width: 714px;
	height: 5px;
	background: #FEEE7D;
	position: absolute;
	top: -70px;
	left: -193px;
}
@media (max-width: 767.98px) {
	.main__item-content:before {
		width: 904px;
	}
}
@media (max-width: 479.98px) {
	.main__item-content:before {
		top: -30px;
	}
}
.main__item-content:after {
	content: "";
	width: 466px;
	height: 5px;
	background: #FEEE7D;
	position: absolute;
	top: 162px;
	-webkit-transform: rotate(-90deg);
	    -ms-transform: rotate(-90deg);
	        transform: rotate(-90deg);
	right: -282px;
}
@media (max-width: 991.98px) {
	.main__item-content:after {
		width: 446px;
		background: #FEEE7D;
		position: absolute;
		top: 152px;
		right: -272px;
	}
}
@media (max-width: 767.98px) {
	.main__item-content:after {
		display: none;
	}
}
.main__title {
	font-size: 45px;
	line-height: 53px;
	margin-bottom: 30px;
	max-width: 470px;
	font-weight: 700;
}
@media (max-width: 479.98px) {
	.main__title {
		font-size: 34px;
		line-height: 44px;
	}
}
.main__text {
	font-family: "Montserrat";
	font-size: 22px;
	line-height: 32px;
	max-width: 470px;
	margin-bottom: 45px;
}
@media (max-width: 479.98px) {
	.main__text {
		font-size: 18px;
		line-height: 28px;
	}
}
.main_ button {
	background: #40AD9F;
	color: #fff;
	padding: 0 60px;
	font-size: 18px;
}
.main_ button:hover {
	background: transparent;
	color: #40AD9F;
}
@media (max-width: 479.98px) {
	.main_ button _button {
		font-size: 16px;
		padding: 0 50px;
	}
}

.benefits {
	padding: 120px 0;
}
@media (max-width: 767.98px) {
	.benefits {
		padding: 110px 0;
	}
}
.benefits__title {
	font-size: 40px;
	text-align: center;
	margin-bottom: 60px;
	font-weight: 700;
}
@media (max-width: 767.98px) {
	.benefits__title {
		font-size: 32px;
	}
}
.benefits__row {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	margin: 0 -15px;
}
@media (max-width: 767.98px) {
	.benefits__row {
		-ms-flex-wrap: wrap;
		    flex-wrap: wrap;
	}
}
.benefits__column {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-flex: 0;
	    -ms-flex: 0 1 33.333%;
	        flex: 0 1 33.333%;
	padding: 0 15px;
}
@media (max-width: 767.98px) {
	.benefits__column {
		-webkit-box-flex: 0;
		    -ms-flex: 0 1 100%;
		        flex: 0 1 100%;
		-webkit-box-pack: center;
		    -ms-flex-pack: center;
		        justify-content: center;
		margin-bottom: 15px;
	}
}
.benefits__item {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	background: #FFFFFF;
	-webkit-box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.3);
	        box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.3);
	border-radius: 8px;
	padding: 40px 30px 40px 35px;
}
@media (max-width: 991.98px) {
	.benefits__item {
		padding: 20px 30px 20px 25px;
	}
}
.benefits__icon {
	margin-bottom: 12px;
}
.benefits__suptitle {
	font-size: 20px;
	line-height: 25px;
	margin-bottom: 10px;
	font-weight: 700;
	max-width: 250px;
}
.benefits__text {
	font-family: "Montserrat";
	font-size: 16px;
	line-height: 26px;
	max-width: 250px;
	-webkit-box-flex: 1;
	    -ms-flex: 1 1 auto;
	        flex: 1 1 auto;
}

.about {
	background: rgba(209, 222, 222, 0.35);
	padding: 160px 0 120px 0;
}
@media (max-width: 767.98px) {
	.about {
		padding: 120px 0 90px 0;
	}
}
.about__row {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	margin: 0 -50px;
}
@media (max-width: 767.98px) {
	.about__row {
		-ms-flex-wrap: wrap;
		    flex-wrap: wrap;
		margin: 0 0px;
	}
}
.about__column {
	-webkit-box-flex: 0;
	    -ms-flex: 0 1 40%;
	        flex: 0 1 40%;
	padding: 0 50px;
}
@media (max-width: 767.98px) {
	.about__column {
		padding: 0;
	}
}
.about__column-b {
	-webkit-box-flex: 0;
	    -ms-flex: 0 1 60%;
	        flex: 0 1 60%;
}
@media (max-width: 767.98px) {
	.about__column-b {
		-webkit-box-flex: 0;
		    -ms-flex: 0 100%;
		        flex: 0 100%;
	}
}
@media (max-width: 767.98px) {
	.about__column {
		-webkit-box-flex: 0;
		    -ms-flex: 0 100%;
		        flex: 0 100%;
	}
}
.about__title {
	font-size: 40px;
	line-height: 47px;
	margin-bottom: 10px;
	font-weight: 700;
}
.about__suptitle {
	font-size: 25px;
	line-height: 29px;
	margin-bottom: 10px;
	font-weight: 700;
}
.about__text {
	font-family: "Montserrat";
	font-size: 18px;
	line-height: 28px;
	margin-bottom: 55px;
}
.about__text span {
	color: #40AD9F;
	font-weight: 600;
}
@media (max-width: 767.98px) {
	.about__img {
		width: 100%;
	}
}
.about__img img {
	-o-object-fit: cover;
	   object-fit: cover;
	max-width: 100%;
}
@media (max-width: 767.98px) {
	.about__img img {
		width: 100%;
		height: 260px;
	}
}
.about__big-img img {
	-o-object-fit: cover;
	   object-fit: cover;
	max-width: 100%;
}
@media (max-width: 767.98px) {
	.about__big-img {
		display: none;
	}
}
.about__info {
	position: absolute;
	right: -240px;
	max-width: 500px;
	bottom: 0;
}
@media (max-width: 1182px) {
	.about__info {
		right: -270px;
	}
}
@media (max-width: 991.98px) {
	.about__info {
		right: -330px;
	}
}
@media (max-width: 767.98px) {
	.about__info {
		position: absolute;
		top: 50%;
		left: 50%;
		margin-right: -50%;
		-webkit-transform: translate(-50%, -50%);
		    -ms-transform: translate(-50%, -50%);
		        transform: translate(-50%, -50%);
	}
}
@media (max-width: 479.98px) {
	.about__info {
		max-width: 330px;
	}
}
.about__item {
	background: no-repeat;
	background-size: cover;
	padding: 41px 50px 42px 50px;
	position: relative;
}
.about__item:before {
	content: "";
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background: -webkit-gradient(linear, left bottom, left top, from(rgba(64, 173, 159, 0.9)), to(rgba(64, 173, 159, 0.9)));
	background: -o-linear-gradient(bottom, rgba(64, 173, 159, 0.9), rgba(64, 173, 159, 0.9));
	background: linear-gradient(0deg, rgba(64, 173, 159, 0.9), rgba(64, 173, 159, 0.9));
}
@media (max-width: 479.98px) {
	.about__item {
		padding: 21px 50px 22px 50px;
	}
}
.about__info-text {
	color: #fff;
	font-size: 20px;
	line-height: 30px;
	position: relative;
}
@media (max-width: 479.98px) {
	.about__info-text {
		font-size: 16px;
	}
}
.about__bottom {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	position: relative;
}
@media (max-width: 767.98px) {
	.about__bottom {
		width: 100%;
	}
}

.questions {
	padding: 170px 0 0px 0;
}
@media (max-width: 767.98px) {
	.questions {
		padding: 120px 0 90px 0;
	}
}
.questions__content {
	position: relative;
}
.questions__item {
	padding: 50px;
	background: no-repeat;
	background-size: cover;
	position: relative;
	border-radius: 8px;
}
@media (max-width: 1182px) {
	.questions__item {
		padding: 35px;
	}
}
.questions__item:before {
	content: "";
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background: -webkit-gradient(linear, left bottom, left top, from(rgba(254, 238, 125, 0.9)), to(rgba(254, 238, 125, 0.9)));
	background: -o-linear-gradient(bottom, rgba(254, 238, 125, 0.9), rgba(254, 238, 125, 0.9));
	background: linear-gradient(0deg, rgba(254, 238, 125, 0.9), rgba(254, 238, 125, 0.9));
	border-radius: 8px;
}
.questions__title {
	font-size: 25px;
	line-height: 30px;
	margin-bottom: 15px;
	font-weight: 700;
}
.questions__text {
	font-family: "Montserrat";
	font-size: 18px;
	line-height: 28px;
	margin-bottom: 32px;
	font-weight: 500;
}
.questions__form form {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}
@media (max-width: 767.98px) {
	.questions__form form {
		-ms-flex-wrap: wrap;
		    flex-wrap: wrap;
	}
}
.questions__input {
	width: 330px;
	padding-right: 20px;
}
@media (max-width: 767.98px) {
	.questions__input {
		width: 100%;
		margin-bottom: 15px;
	}
}
.questions__button button {
	height: 60px;
	background: #40AD9F;
	color: #fff;
	padding: 0 60px;
	font-size: 16px;
}
.questions__button button:hover {
	background: transparent;
	color: #40AD9F;
}
.questions__img img {
	position: absolute;
	bottom: 0;
	width: 300px;
	right: -40px;
}
@media (max-width: 1182px) {
	.questions__img img {
		width: 180px;
		right: -50px;
	}
}
@media (max-width: 991.98px) {
	.questions__img img {
		display: none;
	}
}

.gallery-works {
	padding: 120px 0;
}
@media (max-width: 767.98px) {
	.gallery-works {
		padding-bottom: 90px;
	}
}
.gallery-works__title {
	font-size: 40px;
	line-height: 47px;
	text-align: center;
	margin-bottom: 60px;
	font-weight: 700;
}
@media (max-width: 479.98px) {
	.gallery-works__title {
		font-size: 32px;
	}
}
.gallery-works__filter {
	margin-bottom: 35px;
}
.gallery-works__text {
	font-family: "Montserrat";
	font-size: 18px;
	line-height: 28px;
	text-align: center;
	margin-bottom: 35px;
}
@media (max-width: 767.98px) {
	.gallery-works__text {
		font-size: 14px;
		line-height: 20px;
	}
}

.filter {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	font-size: 0;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}
@media (max-width: 510px) {
	.filter__list {
		text-align: center;
	}
}
.filter__item {
	font-family: "Montserrat";
	font-size: 18px;
	line-height: 22px;
	cursor: pointer;
	margin: 0px 50px 0px 0px;
	display: inline-block;
	position: relative;
	padding-bottom: 5px;
}
@media (max-width: 767.98px) {
	.filter__item {
		font-size: 14px;
		margin: 0px 25px 10px 0px;
	}
}
.filter__item.active {
	font-weight: 600;
	border-bottom: 3px solid #40AD9F;
}
.filter__item:last-child {
	margin: 0;
}

.slider-gallery__row {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-flex: 0;
	    -ms-flex: 0 1 50%;
	        flex: 0 1 50%;
	margin: 0 -15px;
}
.slider-gallery__column {
	-webkit-box-flex: 0;
	    -ms-flex: 0 1 50%;
	        flex: 0 1 50%;
	padding: 0 15px;
}
.slider-gallery__min-row {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	margin: 0 -10px;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
}
.slider-gallery__item {
	-webkit-box-flex: 0;
	    -ms-flex: 0 1 50%;
	        flex: 0 1 50%;
	padding: 0 10px;
	margin-bottom: 40px;
}
.slider-gallery__item-s {
	-webkit-box-flex: 0;
	    -ms-flex: 0 1 35%;
	        flex: 0 1 35%;
	margin-bottom: 0;
}
.slider-gallery__item-b {
	margin-bottom: 0;
	-webkit-box-flex: 0;
	    -ms-flex: 0 1 64%;
	        flex: 0 1 64%;
}
.slider-gallery__item img {
	max-width: 100%;
	-o-object-fit: cover;
	   object-fit: cover;
	height: 100%;
}
.slider-gallery__big-item {
	-webkit-box-flex: 0;
	    -ms-flex: 0 1 50%;
	        flex: 0 1 50%;
	height: 100%;
}
.slider-gallery__big-item img {
	-o-object-fit: cover;
	   object-fit: cover;
	max-width: 100%;
	height: 100%;
}
.slider-gallery__status {
	max-width: 570px;
	margin: 0 auto;
}

.progress {
	margin: 15px 0;
	display: block;
	width: 100%;
	height: 5px;
	border-radius: 10px;
	overflow: hidden;
	background-color: #D1DEDE;
	background-image: -webkit-gradient(linear, left top, right top, from(#40AD9F), to(#40AD9F));
	background-image: -o-linear-gradient(left, #40AD9F, #40AD9F);
	background-image: linear-gradient(to right, #40AD9F, #40AD9F);
	background-repeat: no-repeat;
	background-size: 0 100%;
	-webkit-transition: background-size 0.4s ease-in-out;
	-o-transition: background-size 0.4s ease-in-out;
	transition: background-size 0.4s ease-in-out;
}

.reviews {
	padding: 120px 0;
	background: #D1DEDE;
}
.reviews__title {
	font-size: 40px;
	line-height: 47px;
	text-align: center;
	margin-bottom: 40px;
	font-weight: 700;
}

.slider-reviews__item {
	background: #FFFFFF;
	-webkit-box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
	        box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
	border-radius: 6px;
	padding: 40px 30px 40px 30px;
	max-width: 570px;
	margin: 0 auto;
	position: relative;
}
@media (max-width: 767.98px) {
	.slider-reviews__item {
		max-width: 420px;
	}
}
@media (max-width: 479.98px) {
	.slider-reviews__item {
		max-width: 320px;
	}
}
.slider-reviews__avatar {
	position: absolute;
	top: 0%;
	left: 50%;
	margin-right: -50%;
	-webkit-transform: translate(-50%, -50%);
	    -ms-transform: translate(-50%, -50%);
	        transform: translate(-50%, -50%);
}
.slider-reviews__avatar img {
	max-width: 100%;
	-o-object-fit: cover;
	   object-fit: cover;
	border-radius: 50%;
}
.slider-reviews__stars {
	position: absolute;
	right: 0;
	top: 12px;
	right: 10px;
}
.slider-reviews__stars ul {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}
.slider-reviews__name {
	font-family: "Montserrat";
	font-weight: 500;
	font-size: 18px;
	line-height: 34px;
	text-align: center;
	margin-bottom: 5px;
	padding-top: 10px;
}
.slider-reviews__text {
	font-family: "Montserrat";
	font-size: 14px;
	line-height: 25px;
	text-align: center;
	color: #20272B;
	opacity: 0.4;
	margin-bottom: 10px;
	overflow: hidden;
	-o-text-overflow: ellipsis;
	   text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 7;
	-webkit-box-orient: vertical;
}
.slider-reviews__button {
	font-family: "Montserrat";
	font-weight: 500;
	font-size: 14px;
	line-height: 25px;
	-webkit-text-decoration-line: underline;
	        text-decoration-line: underline;
	color: #20272B;
	opacity: 0.7;
}
.slider-reviews__button:hover {
	text-decoration: none;
}
.slider-reviews__wrap {
	text-align: center;
}
.slider-reviews__status {
	max-width: 330px;
	margin: 0 auto;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}
.slider-reviews__status span {
	font-family: Montserrat;
	font-weight: 600;
	font-size: 14px;
	line-height: 25px;
}
.slider-reviews__status button {
	background: none;
	padding-top: 7px;
	padding: 0 10px;
}

.total {
	padding-right: 10px;
}

.progress2 {
	margin: 15px 15px 15px 15px;
	display: block;
	width: 100%;
	height: 5px;
	border-radius: 10px;
	overflow: hidden;
	background-color: #fff;
	background-image: -webkit-gradient(linear, left top, right top, from(#40AD9F), to(#40AD9F));
	background-image: -o-linear-gradient(left, #40AD9F, #40AD9F);
	background-image: linear-gradient(to right, #40AD9F, #40AD9F);
	background-repeat: no-repeat;
	background-size: 0 100%;
	-webkit-transition: background-size 0.4s ease-in-out;
	-o-transition: background-size 0.4s ease-in-out;
	transition: background-size 0.4s ease-in-out;
}

.slick-center {
	z-index: 4 !important;
	-webkit-transform: scale(1.08);
	    -ms-transform: scale(1.08);
	        transform: scale(1.08);
	position: relative;
	opacity: 1 !important;
}

.slider-reviews .slick-slide {
	padding: 80px 0 60px 0;
	z-index: 3;
	opacity: 0.7;
}

.slider-reviews .slick-track {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}